@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
	box-sizing: border-box;
}


body {
	background-color: #9b59b6;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

.container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 600px;
	max-width: 100%;
	align-items: center;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
}

.header h1 {
	margin: 0;
}

.form {
	padding: 10px 40px;
}

.form-control {
	margin-bottom: 5px;
	padding-bottom: 20px;
	position: relative;
	border: none;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 10;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: flex;
	justify-content: center;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 40%;
}

.botones {
	width: 100%;
	display: flex;
	align-items: center;
}

.continuar {
	margin-left: auto;
}

h1 {
	text-align: center;
	color: darkslategrey;
}

.search {
	margin-left: auto;
	margin-right: auto;
	width: 60%;

}

.li-container {
	background-color: white;
	width: 100%;
	color: darkslategray;
	margin-top: 20px;
}

ul {
	padding: 0;
}

li {
	list-style: none;
	background-color: lightgray;
	border-radius: 10px;
	margin-top: 15px;
	display: flex;
}

li p {
	margin: 0;
	padding: 15px;
	width: 100%;
}

.btn-delete {
	margin-left: auto;
	border: none;
	background-color: #e31746;
	color: white;
	font-weight: bold;
	padding: 5px 10px;
	outline: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 10%;
	font-size: 1.2em;
}

.btn-delete:hover {
	cursor: pointer;
	background-color: lightseagreen;
}

.btn-add {
	padding: 5px 15px;
	border: none;
	color: white;
	font-family: fantasy;
	background-color: teal;
	font-size: 1.4rem;
	outline: none;
}

.btn-add:hover {
	cursor: pointer;
	background-color: darkcyan;
}

.empty {
	color: darkslategrey;
	width: 50%;
	text-align: center;
	margin-left: 150px;
	

}

.search form {
	display: flex;
}

.formList input {
	padding: 15px 10px;
	outline: none;
	width: 100%;
}